<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<!-- <h1>Welcome to Home Page</h1> -->

<div class="container">
    <!-- <h1>Welcome to Home Page, <font color="blue">{{name}} </font></h1> -->
    <!-- <h2>This is the full home page</h2> -->
    <form action="">
        <div class="mb-3">
            <label for="searchMovie" class="form-label">
                Search for Movie:
            </label>
            <input type="text" class="form-control" name="searchMovie"/>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <p>Searching for {{searchTerm}}</p>
        {% for movie in movies %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{movie.image.url}}">
                <div class="card-body">
                    <h5 class="card-title">{{movie.title}}</h5>
                    <p class="card-text">{{movie.description}}</p>
                </div>
                <div class="card-body">
                    {% if movie.url %}
                        <a href="{{movie.url}}" class="card-link">Movie Link</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    <br/>
</div>